<!-- Bootstrap Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom sticky-top">
  
  <!-- Full-width container -->
  <div class="container-fluid">

    <!-- Brand icon linking to homepage -->
    <a class="navbar-brand" href="/">
      <i class="fa-sharp fa-regular fa-compass"></i>
    </a>

    <!-- Toggle button for collapsed navbar on smaller screens -->
    <button 
      class="navbar-toggler" 
      type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navbarNavAltMarkup" 
      aria-controls="navbarNavAltMarkup" 
      aria-expanded="false" 
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible navbar content -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <!-- Navigation links container -->
      <div class="navbar-nav">
        <!-- Home link -->
        <a class="nav-link active" href="/">Home</a>

        <!-- All listings link -->
        <a class="nav-link" href="/listings">All listings</a>

        <!-- Add new listings link -->
        <a class="nav-link" href="listings/new">Add new listings</a>
      </div>
      <div class="navbar-nav ms-auto">
         <% if(!currUser) { %>
          <a class="nav-link active" href="/signup">Sign up</a>
          <a class="nav-link active" href="/login">Log in</a>
         <%}%>
        <%if(currUser){%>
        <a class="nav-link active" href="/logout">Log out</a>
        <%}%>
      </div>

    </div>
    
  </div>
</nav>
