<style>
  .search-btn{
    background-color: #fe424d;
    color: #fff;
    border-radius: 1.4rem;
    padding: 0 1rem 0 1rem;
  }
  .search-btn:hover{
    background-color: #fe424d;
    color: #fff;
  }
  .search-btn i {
    display: inline;
    margin-right: .5rem;
  }
  .search-input{
    border-radius: 1.4rem;
    padding: .5rem 5rem .5rem 5rem;
  }
</style>


<!-- Bootstrap Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom sticky-top">
  
  <!-- Full-width container -->
  <div class="container-fluid">

    <!-- Brand icon linking to homepage -->
    <a class="navbar-brand" href="/listings">
      <i class="fa-sharp fa-regular fa-compass"></i>
    </a>

    <!-- Toggle button for collapsed navbar on smaller screens -->
    <button 
      class="navbar-toggler" 
      type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navbarNavAltMarkup" 
      aria-controls="navbarNavAltMarkup" 
      aria-expanded="false" 
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible navbar content -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <!-- Navigation links (left side) -->
      <div class="navbar-nav">

        <!-- All listings link -->
        <a class="nav-link" href="/listings">Explore</a>

        <!-- Add new listings link -->
        
      </div>
      <div class="navbar-nav ms-auto">
       <form class="d-flex" role="search">
        <input class="form-control me-2 search-input" type="search" placeholder="Search destinations"/>
        <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
       </form>
      </div>

      <!-- User auth links (right side) -->
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Add your home</a>
        <% if (!currUser) { %>
          <!-- Show Sign up and Log in when user is not logged in -->
          <a class="nav-link active" href="/signup"><b>Sign Up</b></a>
          <a class="nav-link active" href="/login"><b>Log In</b></a>
        <% } %>

        <% if (currUser) { %>
          <!-- Show Log out when user is logged in -->
          <a class="nav-link active" href="/logout">Log Out</a>
        <% } %>
      </div>

    </div>
    
  </div>
</nav>
