<% layout("/layouts/boilerplate.ejs") %>

<style>
  .filters{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .filter{
    margin-top: 2rem;
    text-align: center;
    opacity: .7;
  }
  .filter:hover{
    opacity: 1;
    cursor: pointer;
  }
  #tax-toggle{
    border: 1px solid black;
    border-radius: 1rem;
    height: 3.5rem;
    padding: 1rem;
    
    margin-left: 3.5rem;
  }
  .tax-info{
    display: none;
  }
</style>
<div class="container-fluid">
  <div class="filters ">
    <div class="filter">
      <div><i class="fa-solid fa-fire"></i></div>
     <p>Trending</p>
    </div>

    <div class="filter">
      <div><i class="fa-solid fa-bed"></i></div>
     <p>Rooms</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-mountain-city"></i></div>
     <p>Mountain city</p>
    </div>

    <div class="filter">
      <div><i class="fa-solid fa-umbrella-beach"></i></div>
     <p>Beach</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-person-swimming"></i></div>
     <p>Amazing pools</p>
    </div>

    <div class="filter">
      <div><i class="fa-solid fa-house"></i></div>
     <p>Cabins</p>
    </div>
    <div class="filter">
      <div><i class="fa-regular fa-snowflake"></i></div>
     <p>Ski resorts</p>
    </div>

    <div class="filter">
      <div><i class="fa-solid fa-mountain-city"></i></div>
     <p>Mountain city</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-cow"></i></div>
     <p>Farms</p>
    </div>

    <div class="filter">
      <div><i class="fa-solid fa-mountain-sun"></i></div>
     <p>Amazing views</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-water"></i></div>
     <p>Lake front</p>
    </div>

    <div class="filter">
      <div><i class="fa-solid fa-place-of-worship"></i></div>
     <p>Luxury rooms</p>
    </div>
    <div id="tax-toggle">
      <div class="form-check-reverse form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
        <label class="form-check-label" for="switchCheckDefault">Display total after Taxes</label>
      </div>
    </div>
  </div>
  </div>
  
  <!-- Listings Grid -->
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">

    <!-- Loop through all listings -->
    <% for (let listings of alllistings) { %>

      <!-- Listing Card with Link -->
      <a href="/listings/<%= listings._id %>" class="listing-link">

        <!-- Card Container -->
        <div class="card col listing-card">

          <!-- Listing Image -->
          <img 
            src="<%= listings.image.url %>" 
            class="card-img-top" 
            alt="listing-image" 
            style="height: 20rem;"
          />

          <!-- Optional Image Overlay -->
          <div class="card-img-overlay"></div>

          <!-- Card Body with Title and Price -->
          <div class="card-body">
            <p class="card-text">
              <b><%= listings.title %></b> <br>
              &#8377;<%= listings.price.toLocaleString("en-IN") %>
              <i class="tax-info"> &nbsp;&nbsp;+18% GST </i>
            </p>
          </div>

        </div>
      </a>

    <% } %>
  </div>
<script>
  let taxswitch = document.getElementById("switchCheckDefault");
  taxswitch.addEventListener("click", () =>{
    let taxinfo = document.getElementsByClassName("tax-info");
    for(info of taxinfo){
      if(info.style.display !="inline"){
        info.style.display = "inline";
      }else{
        info.style.display = "none";
      }
    }
    
  })
</script>
