<%layout("/layouts/boilerplate.ejs")%>

<div class="row">
  <div class="col-8 offset-2" >
  <h3>Create a New Listing</h3>

  <form action="/listings" method="POST" novalidate class="needs-validation">
    
    <!-- Title -->
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        type="text"
        name="listing[title]"
        id="title"
        placeholder="Title"
        class="form-control"
        required
      />
      <div class="valid-feedback">Title looks good!</div>
    </div>

    <!-- Description -->
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea
        name="listing[description]"
        id="description"
        placeholder="Description"
        class="form-control"
        required
      ></textarea>
      <div class="invalid-feedback">Please enter a short description</div>
    </div>
    <div class="row">
      <!-- Price -->
    <div class="mb-3 col-4">
      <label for="price" class="form-label">Price</label>
      <input
        
        name="listing[price]"
        id="price"
        placeholder="Price"
        class="form-control"
        required
      />
      <div class="invalid-feedback">Price should be valid</div>
    </div>
    <!-- Country -->
    <div class="mb-3 col-8">
      <label for="country" class="form-label">Country</label>
      <input
        type="text"
        name="listing[country]"
        id="country"
        placeholder="Country"
        class="form-control"
        required
      />
      <div class="invalid-feedback">Country name should be valid</div>
    </div>
    </div>
    

    <!-- Location -->
    <div class="mb-3">
      <label for="location" class="form-label">Location</label>
      <input
        type="text"
        name="listing[location]"
        id="location"
        placeholder="Location"
        class="form-control"
        required
      />
      <div class="invalid-feedback">Location should be valid</div>
    </div>

    <!-- Image URL -->
    <div class="mb-3">
      <label for="image" class="form-label">Image Link</label>
      <input
        type="text"
        name="listing[image]"
        id="image"
        placeholder="Image URL"
        class="form-control"
        required
      />
      <div class="invalid-feedback">Image link should be valid</div>
    </div>

    

    <br>
    <!-- Submit Button -->
    <button type="submit" class="btn btn-dark">Add</button>

  </form>
</div>
</div>
